@{
    ViewData["Title"] = "AboutUs";
}

<h2>About Us</h2>

<h3>We perform our duties based on what we call The 3 W's:</h3>
<p>      </p>

<p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>

<h4 align="Left" style="color: seagreen">Who are we?</h4>
<p>We are KhumaloCraft Emporium and we have been founded by a visionary entrepreneur, James Khumalo, in the Summer of 2021 with the opening of our first office in Westville, Durban! We started simple, beginning with just the showcasing and selling of locally-handcrafted art. Though, in 2023, we wanted to expand greatly beyond just that with Mr Khumalo lighting up the way...</p>
<p>     </p>

<p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>

<h4 align="Left" style="color: seagreen">What do we do?</h4>
<p>Now we are an e-commerce platform that serves to connect hundreds of artisans around the globe with an interested audience, in a way that is easily accessible, secure, fun and hip. This is what Mr Khumalo wanted all along. He was the man with dream...</p>
<p>     </p>

<p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>

<h4 align="Left" style="color: seagreen">Why do we do it?</h4>
<p>Why do we do what we do? Because why not? There is no other e-commerce platform such as us! We are the first international platform to allow artisans from anywhere in the world to showcase their beautiful art by reaching a global audience. We do it because we're passionate about uniting truly talented artisans out there with people that would truly appreciate their craftmanship and then allowing said people to show their appreciation of the artisan's work with the ability to even purchase the art and thus, compensate the artisan for their valiant effort. We are KhumaloCraft! There is nothing we cannot bring into fruition when it comes to art! Art really does bring people closer!</p>
<p>       </p>

<p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>

