@{
    ViewData["Title"] = "ContactUs";
}

<h2>Contact Us</h2>

<h3>Don't hesistate to contact us if you have any queries: </h3>
<p>       </p>
<p>________________________________________________________________________________________________________________</p>
<p>                </p>
<h4>Phone Numbers:</h4>
<h6>Jonny Bob - KhumaloCraft Emporium's very own Executive Sales Consultant:</h6>  
<p style="color: seagreen">087 384 8423</p>
<h6>James KhumaloCraft - The founder and owner of KhumaloCraft Emporium: </h6>
<p style="color: seagreen">065 238 3843</p>
<p>________________________________________________________________________________________________________________</p>
<p>               </p>
<h4>Email Addresses:</h4>
<h6>Ashley Pillay - KhumaloCraft Emporium's Head Administrator: </h6>
<p style="color: seagreen">cardinalsystem@khumalocraft.co.za</p>
<h6>Alexander Grant - KhumaloCraft Emporium's Secondary Administrator: </h6>
<p style="color: seagreen">johnwick@khumalocraft.co.za</p>
<p>________________________________________________________________________________________________________________</p>
<p>                 </p>
<h4>Main Office Physical Address:</h4>
<h6 style="color: seagreen">12 Kenningville Avenue, Westville, Durban, Kwazulu-Natal</h6>
<p>We no longer support physical letters or fax but you can physically visit us if nearby</p>
<p>________________________________________________________________________________________________________________</p>
<p>              </p>